<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home - Pokeneas</title>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Permanent+Marker&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <h2>Pokeneas</h2>
  <p><a href="/api">/api</a> → JSON with random pokenea</p>
  <p><a href="/web">/web</a> → View with image and quote</p>
  <p>Container: <%= containerId %></p>
</body>
</html>